# Copyright (c) 2021 Riccardo Paolo Bestetti
# configure tty and start wedge

[Unit]
Description=Configures /dev/tty_wedge and starts the wedge program on it
After=network.target local-fs.target

[Service]
Type=simple
ExecStartPre=stty -F /dev/ttyUSB0 19200 cs8 -echo -echonl -icanon -iexten -ixany -aprenb -cstopb -ixon -ixoff -crtscts
ExecStart=sh -c 'wedge < /dev/ttyUSB0'
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
